{% extends "base.html" %}

{% block content %}
<style type="text/css">
/* 13. Basic Styling with CSS */
svg{
  margin-left: 25%;
  /* left:50%;
  margin-right:-50%; */
}

p{
  text-align:center;
}
/* Style the lines by removing the fill and applying a stroke */
.line {
    fill: none;
    stroke: #038fbc;
    stroke-width: 3;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    fill: #038fbc;
    stroke: #fff;
}

  .focus circle {
  fill: none;
  stroke: steelblue;
}
.col-md-6{

  border:4px;
  border-style: outset;
  border-color: white;
  padding: 2px;
  height: 200px;
}
h11{
  font-family: "Baloo";
  font-size: 20px;
  font-weight:bold;
  color:red;
 }

 h10{
   font-family: "Baloo";
   font-size: 20px;
   font-weight:100;

 }
</style>

{% if userSynced %}
<center> <h1> Weekly Activity </h1> </center>
<center> <h10> Remember to reload the current page (ignoring cached content). </h10></center>
<br> <br>
<p>Graph of Heart Rates Over the Past Month (from Fitbit)</p>
<svg class="heart-chart" width="800" height="400"></svg>
<p>Graph of Steps Taken Over the Past Month (from Fitbit)</p>
<svg class="steps-chart" width="800" height="400"></svg>

<script src="http://d3js.org/d3.v5.min.js" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for('static', filename='chart_generation.js')}}"></script>
<script type="text/javascript">
  generate_heart_graph('{{heart_data_url}}');
  generate_steps_graph('{{steps_url}}');
</script>
{% endif %}



{% endblock content %}
