{% extends "base.html" %}

{% block content %}
      <div align="center" style="transform: translateY(25%)">
        <h1>Put in Calories</h1>



        <br><br>
        <form action="/meal" method="POST">

            {# <input type="text" name="foodsearch" placeholder="Ingredient" > #}
            <input type="text" name="cal1search" placeholder="Min Calories" >
            <input type="text" name="cal2search" placeholder="Max Calories" >
            <input type="text" name="meal_num" placeholder="Number of Meals" >
            <input type="submit" name="action"  value="Search">
        </form>
      </div>
      <br><br>

      <div class="container">
        <div class="row">
        {% for each in food_lst %}
        {# Checks if an error exists and displays an error if it does #}
          <span class="border border-success">
            <div class="col-sm">
              {# {{each["food"]["label"]}} #}
              {{ each }}
              <br><br>
              {# <img src={{each["food"]["image"]}}> #}
            </div>
          </span>
        {% endfor %}
        </div>
      </div>


{% endblock content %}
