{% extends "base.html" %}

{% block content %}
<style type="text/css">

h10{
  font-family: "Baloo";
  font-size: 20px;
  font-weight:100;

 }
 h11{
   font-family: "Baloo";
   font-size: 20px;
   font-weight:bold;
   color:red;
  }
 h5{
   font-family: "Baloo";

   font-size: 20px;

  }
 input[type='checkbox'] {
    -webkit-appearance:none;
    width:20px;
    height:20px;
    background:#b5d9e2;
    border-radius:5px;
    border:2px solid #555;
}
input[type='checkbox']:checked {
    background:#0397bc;
}
</style>

      <div align="center" style="transform: translateY(25%)">
        <h1>Binge Suggestions</h1>
        <h10>Your daily calorie intake goal is: </h10> <h11> {{ in_goal }} </h11> <br>
        <h10> The amount you have left to consume today is </h10> <h11> {{ curr_in_cal }} </h11><br>
        <h10> Specify the number of meals you would like to consume and we will create a meal plan! <br>
        Keep in mind that this planner may return unhealthy options. Enjoy in moderation. <br>
        (Please select less than 10 meals) </h10>

        <br><br>
        <form action="/food" method="POST">

            {# <input type="text" name="foodsearch" placeholder="Ingredient" > #}
            {# <input type="text" name="cal1search" placeholder="Min Calories" > #}
            {# <input type="text" name="cal2search" placeholder="Max Calories" > #}
            <input type="text" name="meal_num" placeholder="Number of Meals" >
            <input type="submit" name="action"  value="Search">
      </div>
      <br><br> <br> 

      <div class="container">
        <div class="row">

        {% for each in food_lst %}
        {# Checks if an error exists and displays an error if it does #}
        <span class="border border-success">
        <div class="col-sm">
        <input type="checkbox" name= {{loop.index}} value="{{ each }}" class = 'check'> <h5>{{ each[0] }} </h5><br>
        <!-- {{ loop.index }} -->
        <br><br>

        {# <img src={{each["food"]["image"]}}> #}
        </div>
        </span>
        {% endfor %}
        {%if food_lst|length >=1%}
            <input type="submit" name="action1"  value="Add to Plan">
        {% endif %}

        </div>
      </div>

      </form>
<br><br>

{% endblock content %}
