{% extends "base.html" %}

{% block content %}
<body>
  <style type="text/css">
  .i-am-centered { margin: auto; max-width: 75%; position: center}
  .col-md-6{

    border:4px;
    border-style: outset;
    border-color: white;
    padding: 2px;
    height: 200px;
  }

  h8{
    font-family: "Baloo";
    font-size: 35px;
    color: black;
    font-weight: bold;
  }

  </style>

  <div class="container">
  <!-- Content here -->
  <center>
  <h1 style = 'position:center'>FitByBit</h1>
      <h2 style= 'color:#0183ad'> Welcome to your wellness adventure!
</h2>
 </center>
<br>
<br>
<!-- <div class="container" style = 'background-color:#0183ad'>
<h1 style='color:black; padding-left:25%; font-size:30px'>  <a style='color:black;font-size:30px' href=https://www.fitbit.com/oauth2/authorize?response_type=token&client_id=22DPCR&redirect_uri=http%3A%2F%2F127.0.0.1%3A5000%2Fmain&scope=activity%20heartrate%20location%20nutrition%20profile%20settings%20sleep%20social%20weight&expires_in=31536000
 > Click here to sync to your fitbit account! </h1>
 <br>
</div> -->
{% if loggedIn and not synced %}
<a style= 'margin-left:25%' class="btn btn-primary" href="https://www.fitbit.com/oauth2/authorize?response_type=token&client_id=22DPCR&redirect_uri=http%3A%2F%2F127.0.0.1%3A5000%2Fmain&scope=activity%20heartrate%20location%20nutrition%20profile%20settings%20sleep%20social%20weight&expires_in=31536000" role="button"><h1 style='color:black; font-size:30px'>
   Click here to sync to your fitbit account! </h1></a>

   <div class="i-am-centered">

     <div class="row grid-demo " >
     <!-- style="position:center"> -->
       <div class="col-md-6" style="background-color:#0397bc">
         <center><h8>   Welcome {{ username }} !</h8> </center>
         <br>  <br> <br>

       </div>
       <div class="col-md-6" style="background-color:#03afbc">
          <center><h8> User Height </h8>   </center><br>
          <center><h7> Your height is {{ height }} </h7>   </center>
          <br> <br> <br>
       </div>

     </div>
     <div class="row grid-demo">
       <div class="col-md-6" style="background-color:#03afbc">
         <center>   <h8> User Weight  </h8>   </center> <br>
         <center><h7> Your weight is {{ weight }} </h7>   </center>
       </div>

       <div class="col-md-6" style="background-color:#0397bc">
         <center>
        <h8>Daily Calorie Intake Goal  </h8>   </center> <br>
         <center><h7> {{ cal_goal }} </h7>   </center>

     </div>
   </div>
     <div class="row grid-demo">
       <div class="col-md-6" style="background-color:#0397bc">
         <center>
        <h8>Daily Step Goal</h8>   </center>    <br> <br> <br>
        <center><h7> {{ step_goal }} </h7>   </center>
       </div>


{% elif loggedIn and synced %}
<div class="i-am-centered">
  <center>
<form action="/unsync" method="POST">
    <input type="submit" name="action"  value="Click here to unsync from your Fitbit!">
</form>
</center>
</div>
<div class="i-am-centered">
  <div class="row grid-demo " >
  <!-- style="position:center"> -->
    <div class="col-md-6" style="background-color:#0397bc">
      <center><h8>   Welcome {{ username }} !</h8> </center>
       <br>  <br> <br>
         <center><h7>  You are a {{ gender }} who is {{ age }} years old! </h7>   </center>
    </div>
    <div class="col-md-6" style="background-color:#03afbc">
       <center><h8>   Height</h8>   </center>  <br> <br> <br>
       <center><h7> Your height is {{ height }}</h7>   </center>
    </div>

  </div>
  <div class="row grid-demo">
    <div class="col-md-6" style="background-color:#03afbc">
      <center>   <h8> Weight  </h8>   </center>
      <center><h7>  Your weight is {{ weight }}</h7>   </center>
    </div>
    <div class="col-md-6" style="background-color:#0397bc">
      <center>
     <h8>Calories    </h8>   </center>
  </div>
</div>
  <div class="row grid-demo">
    <div class="col-md-6" style="background-color:#0397bc">
      <center>
     <h8>Steps    </h8>   </center>    <br> <br> <br>
    </div>
    <div class="col-md-6" style="background-color:#03afbc">
      <center>
     <h8>Calories    </h8>   </center>  <br> <br> <br>

  </div>
</div>

  <div class="row grid-demo">
    <div class="col-md-6" style="background-color:#03afbc">
      <center>
     <h8>Steps    </h8>   </center>  <br> <br> <br>
    </div>
    <div class="col-md-6" style="background-color:#0397bc">
      <center>
     <h8>Calories    </h8>   </center>    <br> <br> <br>

  </div>
</div>
</div>

<!-- <script src={{ url_for('static', filename='app.js')}}/> -->
<!-- username, height, weight, steps, calories, intake goal, outake goal -->
{% endif %}

</div>

 <script>
 var token = new URL(window.location.href).hash.split('&').filter(function(el) { if(el.match('access_token') !== null) return true; })[0].split('=')[1];
 //alert("token: "+token);
 var user_id = new URL(window.location.href).hash.split('&').filter(function(el) { if(el.match('user_id') !== null) return true; })[0].split('=')[1];
//alert("user_id: "+user_id);
window.location.href = "main?token="+token+"&user_id="+user_id
 </script>
 {{ session.username_reg }}



{% endblock %}
