{% extends "base.html" %}

{% block content %}
<style type="text/css">
/* 13. Basic Styling with CSS */

/* Style the lines by removing the fill and applying a stroke */
.line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 3;
}

.overlay {
  fill: none;
  pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    fill: #ffab00;
    stroke: #fff;
}

  .focus circle {
  fill: none;
  stroke: steelblue;
}

</style>

<body>
  <div class="container">
  <!-- Content here -->
  <h1>FitByBit</h1>
      <h2 style= 'color:#0183ad'>Welcome to our Wellness adventures!!  {{ session.username }}
</h2>
<br>
<br>
<!-- <div class="container" style = 'background-color:#0183ad'>
<h1 style='color:black; padding-left:25%; font-size:30px'>  <a style='color:black;font-size:30px' href=https://www.fitbit.com/oauth2/authorize?response_type=token&client_id=22DPCR&redirect_uri=http%3A%2F%2F127.0.0.1%3A5000%2Fmain&scope=activity%20heartrate%20location%20nutrition%20profile%20settings%20sleep%20social%20weight&expires_in=31536000
 > Click here to sync to your fitbit account! </h1>
 <br>
</div> -->
{% if loggedIn and not synced %}
<a style= 'margin-left:25%' class="btn btn-primary" href="https://www.fitbit.com/oauth2/authorize?response_type=token&client_id=22DPCR&redirect_uri=http%3A%2F%2F127.0.0.1%3A5000%2Fmain&scope=activity%20heartrate%20location%20nutrition%20profile%20settings%20sleep%20social%20weight&expires_in=31536000" role="button"><h1 style='color:black; font-size:30px'>
   Click here to sync to your fitbit account! </h1></a>

{% else %}
  <svg class="chart"></svg>
<!-- <script src={{ url_for('static', filename='app.js')}}/> -->
  <script src="http://d3js.org/d3.v5.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='chart_generation.js')}}"></script>
  <script type="text/javascript">
    generate_line_graph('{{heart_data_url}}');
  </script>

{% endif %}

</div>


<!-- {{ profile }} -->



 <script>
 var token = new URL(window.location.href).hash.split('&').filter(function(el) { if(el.match('access_token') !== null) return true; })[0].split('=')[1];
 //alert("token: "+token);
 var user_id = new URL(window.location.href).hash.split('&').filter(function(el) { if(el.match('user_id') !== null) return true; })[0].split('=')[1];
//alert("user_id: "+user_id);
window.location.href = "main?token="+token+"&user_id="+user_id
 </script>
 {{ session.username_reg }}


</body>

{% endblock %}
