{% extends "base.html" %}

{% block content %}

<style type="text/css">
  .card{
    border-style:outset;
    border-width:3px;
    margin-left: 20%;
    margin-right: 20%;
    border-color:#89b6c6;
    padding:1px;
  }

  h9{
    font-family: 'Kumar One Outline', cursive;
    font-family: 'Kaushan Script', cursive;
    font-weight:bold;
    font-size: 25px;
   }
   h10{
     font-family: "Baloo";
     font-size: 20px;
     font-weight:normal;
    }
  h11{
    font-family: "Baloo";
    font-size: 20px;
    font-weight:bold;
    color:red;
   }
   /* Style the lines by removing the fill and applying a stroke */
   .line {
       fill: none;
       stroke: #038fbc;
       stroke-width: 3;
   }

   /* Style the dots by assigning a fill and stroke */
   .dot {
       fill: #038fbc;
       stroke: #fff;
   }

     .focus circle {
     fill: none;
     stroke: steelblue;
   }
</style>
<div align="center" style="transform: translateY(5%)">
  <h1>Meal Plan </h1>
  <h10>Your daily calorie intake goal is: <h11>{{ in_goal }}</h11> calories
    <br>
  The amount you have left to consume today is <h11>{{ curr_in_cal }}</h11> calories
  <br>
  Here you can see your current meal plan and add custom foods! </h10>

  <br><br>
  {% for each in chosen_lst %}
  <div class="card">
    <div class="card-body">
        <h9>Food Name: {{ each[0] }} </h9>
        <br>
        <h10>Calorie Count: {{ each[1] }} </h10>
    <a href="/delete-meal/{{each[0]}}/{{each[1]}}" > <span style="color:red; font:10px;">Delete</span> </a>
    <br>  <br>
</div>
</div>
  {% endfor %}

<br>
<h10>You can add your own meal to your Meal Plan if you so desire!</h10>
<br><br>
  <form action="/user_meal" method="POST">
      <input type="text" name="user_meal" placeholder="Food Name" >
      <br>
      <input type="number" name="user_cal" placeholder="Calories" >
      <br>
      <input type="submit" name="add_user_meal"  value="Add">
  </form>
  {% if graph_spawn %}
  <br>
  <h10>Total Calorie Consumption to Date</h10><br>
  <svg class="food-chart" width="800" height="400"></svg>
  <script src="http://d3js.org/d3.v5.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='chart_generation.js')}}"></script>
  <script type="text/javascript">
    generate_food_graph('{{food_url}}');
  </script>
  {% endif %}

<br>
<h11>Here's your history of past food:</h11>
{% for each in full_lst %}
<div class="card">
  <div class="card-body">
      <h10> Date: {{each[0]}} <br>
      <h9>Food Name: {{ each[1] }} </h9>
      <br>
      <h10>Calorie Count: {{ each[2] }} </h10>
  <br>  <br>
</div>
</div>
{% endfor %}
</div>
<br><br>

{% endblock content %}
