{% extends "base.html" %}

{% block content %}

<style type="text/css">
  .card{
    border-style:outset;
    border-width:3px;
    margin-left: 20%;
    margin-right: 20%;
    border-color:#89b6c6;
    padding:1px;
  }

  h9{
    font-family: 'Kumar One Outline', cursive;
    font-family: 'Kaushan Script', cursive;
    font-weight:bold;
    font-size: 25px;
   }
   h10{
     font-family: "Baloo";
     font-size: 20px;
     font-weight:normal;

    }

</style>
<div align="center" style="transform: translateY(5%)">
  <h1>Meal Plan </h1>
  <h10>Your daily calorie intake goal is: {{ in_goal }}
  The amount you have left to consume today is {{ curr_in_cal }}
  <br>
  Here you can see your current meal plan and add custom foods! </h10>

  <br><br>
  {% for each in chosen_lst %}
  <div class="card">
    <div class="card-body">
  <h9>Food Name: {{ each[0] }} </h9>
  <br>
  <h10>Calorie Count: {{ each[1] }} </h10>
  <br>  <br>
</div>
</div>
  {% endfor %}

<br>
<h10>You can add your own meal to your Meal Plan if you so desire!</h10>
<br><br>
  <form action="/user_meal" method="POST">
      <input type="text" name="user_meal" placeholder="Food Name" >
      <br>
      <input type="number" name="user_cal" placeholder="Calories" >
      <br>
      <input type="submit" name="add_user_meal"  value="Add">
  </form>

<br><br>
</div>
<br><br>

{% endblock content %}
