{% extends "base.html" %}

{% block title %}
<!-- need to add title -->
{% endblock %}

{% block top %}
<div align="center" style="transform: translateY(25%)">
  <h1>Register</h1>
</div>
{% endblock %}
{% block content %}

    <div align="center" style="transform: translateY(20%)">
        <br><br>
        <form action="/create_account_action" method="POST">
          <!-- change password by searching for username in database. Then confirming the password.  -->
            <input type="text" name="username_reg" placeholder="Username"><br><br>
            <input type="password" name="password_reg" placeholder="Password"><br><br>
            <input type="password" name="password_check" placeholder="Retype your password"><br><br>
            <center><a href="/auth"><button>Register</button></a></center>
    </div>
{% endblock content %}

{% block footer %}
 2019&copy;
{% endblock footer %}
