{% extends "base.html" %}

{% block title %}
<!-- need to add title -->
{% endblock %}

{% block toolbar %}
<a class="navbar-brand" style="margin-top:5px;right:5px" href="/">Home</a>
<a class="navbar-brand" style="margin-top:5px" href="/login">Login</a>
<a class="navbar-brand" style="margin-top:5px" href="/register">Register</a>
{% endblock %}

{% block content %}
{% set msgs = get_flashed_messages() %}
    {% for each in msgs %}
    {# Checks if an error exists and displays an error if it does #}
    {% if each %}
        <div align="center">
        <strong>{{each}}</strong>
        </div>
	    {% endif %}
    {% endfor %}
    <div align="center" style="transform: translateY(20%)">
        <h1>Register</h1>
        <br><br>
        <form action="/create_account_action" method="POST">
          <!-- change password by searching for username in database. Then confirming the password.  -->
            <input type="text" name="username_reg" placeholder="Username"><br><br>
            <input type="password" name="password_reg" placeholder="Password"><br><br>
            <input type="password" name="password_check" placeholder="Retype your password"><br><br>
            <center><a href="/auth"><button>Register</button></a></center>
    </div>
{% endblock content %}

{% block footer %}
 2019&copy;
{% endblock footer %}
